<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkTa8PuMenq23RwI5ufdTYfhkQsGn38GU</string>
	<key>GCM_SENDER_ID</key>
	<string>935374168560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.milanmach2.AlexNagy2</string>
	<key>PROJECT_ID</key>
	<string>com-milanmach2-alex2</string>
	<key>STORAGE_BUCKET</key>
	<string>com-milanmach2-alex2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935374168560:ios:1d8780d3a710137df17d35</string>
</dict>
</plist>